<!--    <div class="btn-group" role="group" aria-label="Basic example">-->
<!--      <button type="button" class="btn btn-primary" routerLink="/customers">Customers</button>-->
<!--      <button type="button" class="btn btn-primary" routerLink="/products">Products</button>-->
<!--      <button type="button" class="btn btn-primary"  routerLink="/orders">Orders</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="dashboard-outer">

    <div class="header-outer">
      <app-header>
        <mat-tab-group
          animationDuration="600ms"
          color="accent"
          (selectedIndexChange)="onTabChange($event)"
          [selectedIndex]="selectedTabIndex">
              <mat-tab label="Dashboard" ></mat-tab>
              <mat-tab label="Reports" ></mat-tab>
              <mat-tab label="Settings"></mat-tab>
        </mat-tab-group>
      </app-header>
    </div>

    <div class="content-outer">
      <router-outlet></router-outlet>
    </div>

</div>
