
<div class="outer">
  <div class="container" style="padding: 20px">
    <h2 style="padding: 0px;margin: 0px">Dashbord</h2>
    <hr>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" routerLink="/customers">Customers</button>
      <button type="button" class="btn btn-primary" routerLink="/products">Products</button>
      <button type="button" class="btn btn-primary"  routerLink="/orders">Orders</button>
    </div>
  </div>
</div>
