.dashboard-outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  //border: 1px solid red;
  background: #FFFFFFFF;


  .left-pane {
    width: 90px;
    height: 100vh;
    //border: 1px red solid;

    .side-nav-outer {
      width: 60px;
      height: 100%;
    }
  }

  .right-pane {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header-outer {
      width: 100%;
      height: auto;

      mat-tab-group {
        width: 50%;
        height: auto;
      }

    }

    .content-outer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-y: auto;

      //border: 1px solid rebeccapurple;

      .parent-row{
        width: 100%;
        height: 100%;
        //border: blue 1px solid;
        //column-gap: 20px;
        //padding-top: 50px;
        margin-top: 60px;
        flex: 1;
        gap: 10px;
        //border: 1px solid rebeccapurple;
      }

      .row{

        .col-12{
          display: flex;
          align-items: center;
          justify-content: center;
          //border: red 1px solid;
          mat-card {
            width: 90rem;
            height: 100%;
            background-color: white;
          }
        }

        .sales-overview{
          margin-top: 20px;
          mat-card {
            border: none;

            mat-card-header {
              height: 80px;
              font-family: 'Catamaran';
              font-weight: 700;
              font-size: 20px
            }
          }
        }

        .monthly-sales-overview{

          margin-top: 20px;

          mat-card {
            //border: none;

            mat-card-header {
              height: 80px;
              font-family: 'Catamaran';
              font-weight: 700;
              font-size: 20px
            }
          }

          .monthly-sales-overview-chart{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .recent-order-table{
          margin-top: 50px;

          mat-card {
            border: none;

            mat-card-header {
              height: 80px;
              font-family: 'Catamaran';
              font-weight: 700;
              font-size: 20px
            }

          }
        }

      }

      .chart-outer {

        width: 448px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFFFF; /* white */
        border-radius: 2px; /* border-m */
        box-shadow: 0px 0px 0.5px #171a1f, 0px 0px 1px #171a1f; /* shadow-xs */


        .left-pane-outer, .right-pane-outer {
          width: 100%;
          height: 100%;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          //border: 1px solid red;


          mat-card {
            width: 100%;
            height: 100%;
            border: none;
            background-color: white;
            font-family: "Catamaran";


            mat-card-content {
              font-size: 40px;
              line-height: 56px;
              font-weight: 700;
              color: #171A1FFF;

            }

            mat-card-header {
              font-size: 14px;
              line-height: 22px;
              font-weight: 700;
              color: #9095A1FF;
            }
          }
        }
      }
    }
  }
}


.s1 {
  display: flex;
  align-items: center;
  justify-content: start;

  .chart-outer {
    margin-left: 15px;
  }

}

.s2 {
  display: flex;
  align-items: center;
  justify-content: end;

  .chart-outer {
    margin-right: 15px;
  }
}


