.header-outer{
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: #FFFFFFFF; /* white */
  box-shadow: 0 0 0.5px rgb(23, 26, 31), 0 0 1px rgb(23, 26, 31); /* shadow-xs */



  .left-outer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    margin-left: 20px!important;
    //border: red 1px solid;

  }

  .right-outer{
    width: 100%;
    height: 100%;
    //border: red 1px solid;
    display: inherit;
    align-items: inherit;
    justify-content: flex-end;
    gap: 15px;



    .avatar-icon-outer {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      tui-avatar {
        width: 40px;
        height: 40px;
      }
    }



  }


}
:host {
  display: flex;
  gap: 1rem;
}
