//:host {
//  display: block;
//  width: 50rem;
//}

.axes {
  height: 20rem;
  width: 100%;
  color: #bc71c9;
}


.chart-outer{
  width: 65rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
