<div class="side-panel-bar-outer">
  <div class="logo-outer">
    <img src="/assets/images/logo2.png" alt="image">
  </div>

  <div class="icon-bar-outer">
    <div class="icon-outer">
      <mat-icon fontIcon="dashboard"></mat-icon>
      <span>Overview</span>
    </div>
    <div class="icon-outer">
      <mat-icon fontIcon="inventory_2"></mat-icon>
      <span>Products</span>
    </div>
    <div class="icon-outer">
      <mat-icon>shopping_cart</mat-icon>
      <span>Order</span>
    </div>
    <div class="icon-outer">
      <mat-icon>group</mat-icon>
      <span>Customer</span>
    </div>
    <div class="icon-outer">
      <mat-icon>mail</mat-icon>
      <span>Mail</span>
    </div>
    <div class="icon-outer">
      <mat-icon>tune</mat-icon>
      <span>Settings</span>
    </div>
  </div>

  <div class="avatar-bar-outer">
    <div class="avatar-icon-outer" >
      <tui-avatar src="@tui.user" />
      <div class="status-outer">
        <tui-badge appearance="success" tuiStatus size="s">active</tui-badge>
      </div>
    </div>

  </div>

</div>
